.myBG {
  height: 100vh;
  background-image: url(../assets/images/bg/cinema.jpg);
  background-size: cover;
  background-position: center;
}
.intro {
  height: 400px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.title {
  text-align: center;
  font-size: 3.3em;
  font-weight: 900;
  text-shadow: 3px 3px black;
  line-height: 1.2;
  letter-spacing: 5px;
}
.trending {
  height: auto;
  background-image: url(../assets/images/bg/war.jpg);
  background-size: cover;
  background-position: cover;
}
.judul h1 {
  font-size: 3.3em;
  font-weight: 900;
}
.movieImage {
  background-color: aliceblue;
  padding: 5px;
}
.movieWrapper {
}
